@{
    ViewBag.Title = "Home Page";
}


	<div class="container">
		<div class="row ">
			<div class="col">
				<p class=" h1 text-sm-center  pb-5 pt-5 "> Lista de contactos </p>

				<div class="col bg-success">
					<ul class="list-group text-center">
						<li class="list-group-item"> Contacto 1 </li>
						<li class="list-group-item">Contacto 2 </li>
						<li class="list-group-item"> Contacto 3</li>
					</ul>
				</div>
				

			</div>
		</div>
	</div>

